/* CSS declarations go here */
body{ 
  background:#e3e3e3;
  font-family:arial;
  color:#4f4f4f;
}

.header{ 
  height:48px;
  border-bottom:solid 1px #c9c9c9;
  overflow:none;
  background:#fff;
}
div.busicon{ 
  height:48px;
  width:48px;
  float:left;
  background:url('/img/bus_icon.png');
}

.header ul.navigation li{ 
  height:48px;
  width:58px;
  border-left:solid 2px #e4e4e4;
  float:right;
  background:url("/img/buber_nav_sprite.png") no-repeat top left;
}
.header ul.navigation li.selected{
  background:#f37437 url("/img/buber_nav_sprite.png") no-repeat;
  -webkit-box-shadow: inset 0 0 8px #666;
} 
.header ul.navigation li.favorite{ background-position:0px 0px; }
.header ul.navigation li.list{ background-position: -52px 0px; }
.header ul.navigation li.settings{ background-position: -156px 0px; }
.header ul.navigation li.map{ background-position:-104px 0px; }

.header ul.navigation li.favorite.selected{ background-position:0px -47px; }
.header ul.navigation li.list.selected{ background-position: -52px -47px; }
.header ul.navigation li.settings.selected{ background-position: -156px -47px; }
.header ul.navigation li.map.selected{ background-position:-104px -47px; }


.content{ 
  margin:8px 6px;
  border: solid 2px #c9c9c9;
  padding:12px 8px;
  min-height:300px;
  background:#fff;
  position:absolute;
  bottom:0px;
  top:48px;
  left:0px;
  right:0px;
}
.routeinfo .back{ 
  background:url("/img/buber_hand.png");
  width:38px;
  height:15px;
  position:absolute;
  top:15px;
  left:15px;
}

.routeinfo .tag{ 
  text-align:center;
  font-family: 'Bowlby One SC', sans-serif;
  font-size:42px;
  font-weight:bold;
}
.routeinfo .direction{
  text-align:center;
  font-weight:bold;
  margin-bottom:2px;
} 
.routeinfo .stop{ 
  text-align:center;
  margin-bottom:9px;
}
.routeinfo .description{ 
  text-align:center;
  font-size:12px;
  font-style:italic;
}
.routeinfo .upcomingtimes{ 
  text-align:center;
  background:#49c9c3;
  padding:5px;
  border-radius:3px;
  color:#fff;
  margin:10px 0px 5px;
  -webkit-box-shadow: inset 0 0 8px #666;
}
.routeinfo .upcomingtimes span{ 
  font-size:36px;
}
.mapbox{ 
  border:solid 2px #c9c9c9;
  position:absolute;
  bottom:10px;
  left:8px;
  right:8px;
  padding:5px;
  top:175px;  
}

#map{ 
  position:absolute;
  top:5px;
  right:5px;
  left:5px;
  bottom:5px;
}

.stoplocation{ 
  font-size:32px;
  text-align:center;
  margin:5px 0px;
}

.routelist li{ 
  border:solid 1px #c3c3c3;
  height:40px;
  padding:12px 12px;
  border-radius:3px;
  margin-top:5px;
  -webkit-box-shadow: 3px 3px 7px #999;  
}
.routelist li .tag{ 
  float:left;
  font-size:32px;
  font-weight:bold;
}

.routelist li .direction{ 
  font-weight:bold;
  float:left;
  margin:3px 0px 0px 5px;
  width:125px;
  font-size:14px;
  overflow:none;
}
.routelist li .stop{
  float:left;
  margin-left:5px;
  width:125px;
  font-size:14px;
  overflow:none;

} 
.routelist li .leftcell{
  float:left;
  width:170px;
  overflow:none;
}
.routelist li .rightcell{ 
  float:right;
  width:90px;

}
.routelist li .time{ 
  float:left;
  font-size:32px;
  font-weight:bold;
}
.routelist li .time.small{ 
  font-size:20px;
}
.routelist li .othertimes{
  float:left;
  margin:3px 0px 0px 5px;
  width:45px;
  font-size:14px;
}
.routelist li .timelabel{
  float:left;
  margin-left:5px;
  font-size:14px;
} 

.startcheckin{ 
  background:url("/img/buber_check_in_button.png");
  width:124px;
  height:49px;
  position:absolute;
  bottom:0px;
  left:98px;
}

.checkin{ 
  background: rgba(140, 104, 163, 0.9);
  z-index: 1000;
  position:absolute;
  top:0px; bottom:0px; right:0px; left:0px;
  display:none;
  color:#fff;
}
.checkin h3{ 
  font-size:18px;
  text-align:center;
  background:#444444;
  height:20px;
  padding:10px 0px;
  position:absolute;
  left:15px; right:15px;
  z-index:1001;
  -webkit-box-shadow: -3px 3px 8px rgba(0,0,0,0.3);
}

.checkin .close{ 
  position:absolute;
  top:10px;
  right:15px;
  font-size:26px;
  color:#fff;
}

.checkin .stops{ 
  position:absolute;
  top:120px;
  bottom:80px;
  left:15px;
  right:15px;
  background:#fff;
  overflow:auto;
}
.checkin .nextstops li{ 
  height:14px;
  border-bottom:solid 1px #333;
  color:#4f4f4f;
  padding:14px 10px;
}
.checkin .nextstops li.selected{
  background: #1cbbb4;
  color: #fff;
} 

.checkin .nextstops li .name{ 
  float:left;
  font-size:16px;
  margin-top:2px;
}
.checkin .nextstops li .time{
  float:right;
  font-size:20px;
  font-weight:bold;
}
.checkin .nextstops li .time span{
  font-style:italic;
  font-size:14px;
  font-weight:normal;
}
.checkin .checkinIcon{ 
  background:url("/img/buber_check_in_text.png") no-repeat;
  width:138px;
  height:66px;
  margin:10px auto 5px;

}
.checkinbtn{ 
  text-transform:uppercase;
  padding:12px 9px;
  font-size:14px;
  font-weight:bold;
  color:#fff;
  background:#f37437;
  width:200px;
  text-align:center;
  margin:auto;
  -webkit-box-shadow:  -3px 3px 8px rgba(0,0,0,0.3);
  border-radius:5px;
}
.checkincontrols{ 
  position:absolute;
  bottom:30px;
  left:0px;
  right:0px;
}

.stops{ 
  

}

.accounts-dialog {
  border: 1px solid #777777;
  z-index: 1000;
  background: white;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 8px 12px;
  margin: -8px 48px 0 -12px;
  width: 198px;
  height: 280px;
  font-size: 16px;
  color: #333;
}

