/* CSS declarations go here */
body{ 
  background:#e3e3e3;
  font-family: 'Asap', 'Helvetica', sans-serif;
  color:#4f4f4f;
}

.header{ 
  height:48px;
  border-bottom:solid 1px #c9c9c9;
  overflow:none;
  background:#fff;
}
div.busicon{ 
  height:48px;
  width:48px;
  float:left;
  margin: 8px 0px 0px 7px;
  background:url('/img/bus_icon.png') no-repeat;
}

.header ul.navigation li{ 
  height:48px;
  width:58px;
  border-left:solid 2px #e4e4e4;
  float:right;
  background:url("/img/buber_nav_sprite.png") no-repeat top left;
}
.header ul.navigation li.selected{
  background:#f37437 url("/img/buber_nav_sprite.png") no-repeat;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
} 
.header ul.navigation li.favorite{ background-position:0px 0px; }
.header ul.navigation li.list{ background-position: -52px 0px; }
.header ul.navigation li.settings{ background-position: -156px 0px; }
.header ul.navigation li.map{ background-position:-104px 0px; }

.header ul.navigation li.favorite.selected{ background-position:0px -47px; }
.header ul.navigation li.list.selected{ background-position: -52px -47px; }
.header ul.navigation li.settings.selected{ background-position: -156px -47px; }
.header ul.navigation li.map.selected{ background-position:-104px -47px; }


.content{ 
  margin:8px 6px;
  border: solid 2px #c9c9c9;
  padding:12px 8px;
  min-height:300px;
  background:#fff;
  position:absolute;
  bottom:0px;
  top:48px;
  left:0px;
  right:0px;
}
.routeinfo .back{ 
  background:url("/img/buber_hand.png");
  width:38px;
  height:15px;
  position:absolute;
  top:15px;
  left:15px;
}

.routeinfo .tag{ 
  text-align:center;
  font-family: 'Bowlby One SC', sans-serif;
  font-size:42px;
  font-weight:bold;
}
.routeinfo .direction{
  text-align:center;
  font-weight:bold;
  margin-bottom:2px;
} 
.routeinfo .stop{ 
  text-align:center;
  margin-bottom:7px;
}
.routeinfo .description{ 
  text-align:center;
  font-size:12px;
  font-style:italic;
}
.routeinfo .upcomingtimes{ 
  text-align:center;
  background:#49c9c3;
  padding:7px;
  border-radius:3px;
  color:#fff;
  margin:10px 0px 5px;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}
.routeinfo .upcomingtimes span{ 
  font-size:30px;
}
.mapbox{ 
  border:solid 2px #c9c9c9;
  position:absolute;
  bottom:10px;
  left:8px;
  right:8px;
  padding:5px;
  top:155px;  
}

#map{ 
  position:absolute;
  top:5px;
  right:5px;
  left:5px;
  bottom:5px;
}

.stoplocation{ 
  font-size:25px;
  text-align:center;
  margin:5px 0px 10px;
}

.routelist li{ 
  border:solid 1px #c3c3c3;
  height:40px;
  padding:12px 12px;
  border-radius:3px;
  margin-top:5px;
  -webkit-box-shadow: 3px 3px 7px #999;  
}
.routelist li .tag{ 
  float:left;
  font-size:32px;
  font-weight:bold;
}

.routelist li .direction{ 
  font-weight:bold;
  float:left;
  margin:3px 0px 0px 5px;
  width:125px;
  font-size:14px;
  overflow:none;
}
.routelist li .stop{
  float:left;
  margin-left:5px;
  width:125px;
  font-size:14px;
  overflow:none;

} 
.routelist li .leftcell{
  float:left;
  width:170px;
  overflow:none;
}
.routelist li .rightcell{ 
  float:right;
  width:90px;
}
.routelist li .time{ 
  float:left;
  font-size:32px;
  font-weight:bold;
}
.routelist li .time.small{ 
  font-size:20px;
}
.routelist li .othertimes{
  float:left;
  margin:3px 0px 0px 5px;
  width:45px;
  font-size:14px;
}
.routelist li .timelabel{
  float:left;
  margin-left:5px;
  font-size:14px;
} 

.startcheckin{ 
  background:url("/img/buber_check_in_button.png");
  width:124px;
  height:49px;
  position:absolute;
  bottom:0px;
  left:90px;
}
.startfeedback{ 
  background:url("/img/buber_treasures_button.png");
  width:124px;
  height:49px;
  position:absolute;
  bottom:0px;
  left:90px;
  display:none;
}

.modal{ 
  background: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  position:absolute;
  top:0px; bottom:0px; right:0px; left:0px;
  color:#fff;
}

.checkin{ 
  background: rgba(140, 104, 163, 0.9);
  display:none;
}


.modal h3{ 
  font-weight: bold;
  font-size:18px;
  text-align:center;
  background:#444444;
  height:20px;
  padding:10px 0px;
  position:absolute;
  left:15px; right:15px;
  z-index:1001;
  -webkit-box-shadow: -3px 3px 8px rgba(0,0,0,0.3);
}

.modal .close{ 
  position:absolute;
  top:10px;
  right:15px;
  font-size:22px;
  color:#fff;
}

.checkin .stops{ 
  position:absolute;
  top:120px;
  bottom:80px;
  left:15px;
  right:15px;
  background:#fff;
  overflow:auto;
}
.checkin .nextstops li{ 
  height:14px;
  border-bottom:solid 1px #333;
  color:#4f4f4f;
  padding:14px 10px;
}
.checkin .nextstops li.selected{
  background: #1cbbb4;
  color: #fff;
} 

.checkin .nextstops li .name{ 
  float:left;
  font-size:16px;
  margin-top:2px;
}
.checkin .nextstops li .time{
  float:right;
  font-size:20px;
  font-weight:bold;
}
.checkin .nextstops li .time span{
  font-style:italic;
  font-size:14px;
  font-weight:normal;
}
.checkin .checkinIcon{ 
  background:url("/img/buber_check_in_text.png") no-repeat;
  width:138px;
  height:66px;
  margin:10px auto 5px;

}
.checkin .checkinIcon{ 
  background:url("/img/buber_check_in_text.png") no-repeat;
  width:138px;
  height:66px;
  margin:10px auto 5px;

}
.modalcontrols .btn{ 
  text-transform:uppercase;
  padding:12px 9px;
  font-size:14px;
  font-weight:bold;
  color:#fff;
  background:#f37437;
  width:200px;
  text-align:center;
  margin:auto;
  -webkit-box-shadow:  -3px 3px 8px rgba(0,0,0,0.3);
  border-radius:5px;
}
.checkinbtn{ 
  background:#f37437;
}


.modalcontrols{ 
  position:absolute;
  bottom:30px;
  left:0px;
  right:0px;
}

.feedbacklist{ 
  position:absolute;
  top:120px;
  
  left:15px;
  right:15px;
  background:#fff;
  overflow:auto;
  color:#4f4f4f;
  padding:5px 12px 10px;
}
.feedbacklist .subheading{
  text-align:center;
  margin:5px 0px;
} 

.feedback .feedbackIcon{ 
  background:url("/img/buber_ahoy.png") no-repeat;
  width:113px;
  height:45px;
  margin:25px auto 10px;

}
.feedbacklist .feedbackitem{ 
  color:#eee;
  height:78px;
  width:78px;
  position:relative;
  border-radius:5px;
  margin:5px;
  background: #21dcd4 url("/img/buber_feedback_icons.png") no-repeat top left;
  float:left;
  cursor:pointer;
}

.feedbacklist .feedbackitem:hover{ 
  color:#21dcd4;
}



.feedbacklist .feedbackitem.zippy{ background-position: 0px 0px}
.feedbacklist .feedbackitem.slow{ background-position:  -84px 0px}
.feedbacklist .feedbackitem.packed{ background-position: -171px 0px}
.feedbacklist .feedbackitem.stinky{ background-position: -257px 0px}
.feedbacklist .feedbackitem.kindness{ background-position: -336px 0px}
.feedbacklist .feedbackitem.rad{ background-position: -423px 0px}
.feedbacklist .feedbackitem.friend{ background-position: -509px 0px}
.feedbacklist .feedbackitem.grumpy{ background-position: -593px 0px}
.feedbacklist .feedbackitem.cool{ background-position: -676px 0px}

.feedbacklist .feedbackitem .label{
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  height:15px;
  padding:8px 0px;
  font-weight:bold;
  text-align:center;
  background:#343434;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  font-size:10px;
  text-transform:uppercase;
} 
.feedbacklist .feedbackitem.selected{
  color:#fff;
  background-color:#f37437;
} 
.feedback{ 
  display:none;
}

.stats .statsIcon{ 
  background:url("/img/buber_victory.png") no-repeat;
  width:170px;
  height:45px;
  margin:25px auto 10px;
}
.stats .statcontents{ 
  background:#fff;
  color:#343434;
  position:absolute;
  top:100px;
  left:15px;
  right:15px;
  min-height:300px;
  padding:10px;
}
.stats .statcontents h4{ 
  text-transform:uppercase;
  font-size:16px;
  font-weight:bold;
  text-align:center;
}
.stats{ 
  bottom:-300px;
  display:none;
}
.stats img{
  margin-left:20px;
} 
.stats .message{ 
  margin:40px 0px 10px;
  text-align:center;
}
.stats .points{ 
  background:#e4e4e4;
  padding:10px;
  border-radius:5px;
  margin-bottom:20px;
}
.stats .point{
  float:right;
  font-weight:bold;
} 
.stats .pointlabel{
  float:left;
  width:200px;
  margin:2px 0px;
  font-size:14px;
}
.stats .pointlabel.total{
  font-weight:bold;
  margin:3px 0px;
}
.stats .feedbacklist{ 
  position:static;
  width:255px;
  margin:30px auto 10px;
  padding:0px;
  top:0px;
}
.stats .feedbacklist .feedbackitem{ 
  background-color:#fff;
  margin:3px;
  
}
.stats .feedbacklist .feedbackitem .label{
  color:#fff;
  font-weight:bold;
  background:#21dcd4;
  border-radius:0px;
  padding:5px 5px;
  height:15px;
} 

.stats .num{ 
  font-size:36px;
  color:#f37437;
}
.stats .leftnumber { 
  float:left;
  width:100px;
  text-align:center;
  margin-left:25px
}
.stats .rightnumber { 
  float:right;
  width:100px;
  margin-right:25px
  text-align:center;
}

.clear{ 
  clear:both;
}

.accounts-dialog {
  border: 1px solid #777777;
  z-index: 1000;
  background: white;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 8px 12px;
  margin: -8px 48px 0 -12px;
  width: 198px;
  height: 280px;
  font-size: 16px;
  color: #333;
}

.addtohomepage{
  z-index:1000;
  width:210px;
  height:106px;
  position:absolute;
  bottom:0px;
  left:65px;
  background:url("/img/buber_pop_up.png");
  background-repeat:no-repeat;
}

.addtohomepage .busimage{
  margin: 20px 10px 0 18px;
  width:49px;
  height:49px;
  background:url("/img/buber_bus_pop_up.png");
  background-repeat:no-repeat;
  float:left;
}

.addtohomepage .instructions{
  margin:14px;
  font-size:80%;
}

/*@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  div.busicon{ 
    background: url('/img/bus_icon@2x.png');
  }  
  .header ul.navigation li{ 
    background:url("/img/buber_nav_sprite@2x.png") no-repeat top left;
  }
  .routeinfo .back{ 
    background:url("/img/buber_hand@2x.png");
  }
  .startcheckin{ 
    background:url("/img/buber_check_in_button@2x.png");
  }
}*/
