<template name="checkin">
  <div class="checkin">
    <div class="checkinIcon"></div>
    <h3>Where are you headed?</h3>

    <div class="stops">
      <ul class="nextstops">
        {{#each routeDetail.direction1.stop}}
        {{> stop}}
        {{/each}}

      </ul>
    </div>
    <div class="checkincontrols">
      <div class="checkinbtn">Check in to this route</div>
    </div>
  </div>
</template>

<template name="stop">
        <li data-dist="{{ id }}">
          <div class="name">{{ name }}</div>
          <!--<div class="time">4<span> mins</span></div>-->
        </li>
</template>
