<template name="feedback">
  <div class="feedback modal">
    <div class="close"> X </div>
    <div class="feedbackIcon"></div>
    <h3>What treasures did you find?</h3>

    <div class="feedbacklist">
      <div class="subheading">Choose as many as you would like:</div>
      <div class="feedbackitem zippy">
        <div class="label">Zippy</div>
      </div>
      <div class="feedbackitem slow">
        <div class="label">Slow</div>
      </div>
      <div class="feedbackitem packed">
        <div class="label">Packed Like Sardines</div>
      </div>
      <div class="feedbackitem stinky">
        <div class="label">Stinky</div>
      </div>
      <div class="feedbackitem kindness">
        <div class="label">Act of Kindness</div>
      </div>
      <div class="feedbackitem rad">
        <div class="label">Totally Rad</div>
      </div>
      <div class="feedbackitem friend">
        <div class="label">Friend Spotting</div>
      </div>
      <div class="feedbackitem grumpy">
        <div class="label">Grumpy Driver</div>
      </div>
      <div class="feedbackitem cool">
        <div class="label">Cool Driver</div>
      </div>

      <div class="clear"></div>
    </div>
    
    <div class="modalcontrols">
      <div class="feedbackbtn btn">Log Your Findings</div>
    </div>
  </div>
</template>

