<template name="list">
  <h1 class="stoplocation">{{stop.name}}</h1>


  <ul class="routelist">
    {{#each routes}}
       {{> route}}
    {{/each}}
  </ul>

  <div class="addtohomepage">
    <div class="busimage"></div>
    <div class="instructions">For a better voyage, install Mutini to your phone. Tap below and choose <br><strong>Add to Home Screen</strong>
    </div>
  </div>

  
</template>


<template name="route">
  <li data-route="{{routeTag}}" data-vehicle="{{vehicle}}">
    <div class="rightcell">
      {{#if predictionsAvailable}}
      <div class="time">{{minute1}}</div>
      <div class="othertimes">{{ otherminsstr }}</div>
      <div class="timelabel">mins.</div>
      {{else}}
      <div class="time small">NONE</div>
      {{/if}}
    </div>

    </div>
    <div class="leftcell">
      <div class="tag">{{routeTag}}</div>
      <div class="direction">{{title}}</div>
      <div class="stop">{{stopTitle}}</div>
  </li>
</template>
