<head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Mutini</title>
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
    
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>
</head>

<body>
  {{> header}}
  <div class="content">
    {{{render currentPage}}}
  </div>
   {{> checkin }} 

</body>


<!--
<template name="hello">
  <h1>Hello World!</h1>
  {{greeting}}
  <input type="button" value="Click" />
</template>
-->


