<head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Mutini</title>
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>
  <!-- iPhone -->
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="apple-touch-startup-image"
      media="(device-width: 320px)"
      href="apple-touch-startup-image-320x460.png">
  <!-- iPhone (Retina) -->
  <link rel="apple-touch-startup-image"
      media="(device-width: 320px)
         and (-webkit-device-pixel-ratio: 2)"
      href="apple-touch-startup-image-640x920.png">
  <link rel="apple-touch-startup-image"
      media="(device-width: 320px)
         and (device-height: 568px)
         and (-webkit-device-pixel-ratio: 2)"
      href="apple-touch-startup-image-640x1096.png">
    
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>
</head>

<body>
  {{> header}}
  <div class="content">
    {{{render currentPage}}}
  </div>
  {{> checkin }}
  {{> feedback }}
  {{> stats }} 

  <div class="addtohomepage">
    <div class="busimage"></div>
    <div class="instructions">For a better voyage, install Mutini to your phone. Tap below and choose <br><strong>Add to Home Screen</strong>
    </div>
  </div>
</body>


<!--
<template name="hello">
  <h1>Hello World!</h1>
  {{greeting}}
  <input type="button" value="Click" />
</template>
-->


